body {
    margin: 0px;
}
* {
    margin: 0px;
    
}

@media (max-width: 1080px) {
    .name {
        max-width: 650px;
    }
    .info_text {
       max-width: 650px; 
    }
    /* .img2 { */
        
    
    .table {
        left: 300px;
        width: 545px;
        height: 274px;
    }
    hr {
        width: 840px;
        
    }
    footer {
        max-width: 840px;
        
    }
    .container {
        width: 860px;
        /* margin; */
    }
}
.container {
    max-width: 1080px;
    margin: 10px auto;
    padding: 10px 0px;
    /* padding: 20px 0px; */
    /* position: relative; */
}
.box1 {
    position: relative;
    height: 242px;
    width: 1080px;
    /* background-color: rgba(0, 255, 255, 0.284); */
}
.card {
    margin: 0px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.060);
    /* background-color: brown; */
}

.img1 {
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.060);
    position: absolute;
    border-radius: 5px;
    margin: 0px 0px 5px 5px;
}

.name {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 185px;
    width: 875px;
    text-align: center;
    
}

.info_text {
    position: absolute;
    top: 57px;
    left: 185px;
    padding: 5px;
    width: 875px;
    height: 170px;
    
}
.box2 {
    position: relative;
    height: 300px;
    width: 1080px;
    /* background-color: rgba(221, 255, 0, 0.342); */

}

.link_with_me {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 280px;
    padding: 5px;
    
    /* margin: ; */

}

form {
    position: absolute;
    width: 280px;
    padding: 5px;
    top: 47px;
}
table {
    position: absolute;
    left: 650px;
    width: 420px;
    height: 200px;
    /* width: max-content; */
    padding: 5px;
    
    
    
}
.img2 {
    position: absolute;
    left: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.100);
    /* margin: 0px 5px 0px 5px; */
}



footer {
    
    width: 1060px;
    padding: 10px 5px;
    
}



