html {
    background-color: #f6f6f6;
    
    /* background-color: rgba(236, 236, 236, 0.803); */
}

.card {
    background-color: #fafafa;
}
.name {
    color: #2f434f;
}
.info_text h3 {
    color: #556f7f;
}
.img {
    background-color: #fafafa;
}
table th {
    color: #556f7f;
}

.link_with_me {
    color: #2f434f;
}

.container { 
    background-color: #2f434f10;
    border-radius: 3px;
}


input {
    background-color: #e7e7e7d0;
    border: 1px solid #5f7c8d59;
    color:#556f7f;
}
textarea {
    background-color: #e7e7e7d0;
    border: 1px solid #5f7c8d59;
    border-radius: 3px;
    
}

hr {
    
    border: 0.63px solid #556f7f;
}


a {
    color: #5f7c8d;
}

